@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "Mplus1p-Black";
  src: url(fonts/MPLUS1p-Black.ttf);
}
@font-face {
  font-family: "Mplus1p-Bold";
  src: url(fonts/MPLUS1p-Bold.ttf);
}
@font-face {
  font-family: "Mplus1p-ExtraBold";
  src: url(fonts/MPLUS1p-ExtraBold.ttf);
}
@font-face {
  font-family: "Mplus1p-Light";
  src: url(fonts/MPLUS1p-Light.ttf);
}
@font-face {
  font-family: "Mplus1p-Medium";
  src: url(fonts/MPLUS1p-Medium.ttf);
}
@font-face {
  font-family: "Mplus1p-Regular";
  src: url(fonts/MPLUS1p-Regular.ttf);
}
@font-face {
  font-family: "Mplus1p-Thin";
  src: url(fonts/MPLUS1p-Thin.ttf);
}
html {
  overflow-x: hidden;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  left: 0;
  right: 0;
  font-family: "M PLUS 1p", sans-serif;
}
.container {
  max-width: 1163px;
  width: 100%;
  margin: 0 auto;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "Mplus 1p";
  flex-direction: column;
}
ul {
  list-style-type: none;
}
a:active {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/*header*/
header {
  width: 100%;
  height: 800px;
  background: url(images/header.png) center center no-repeat;
  background-size: cover;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header__container {
  width: 100%;
  margin: 0 auto;
  max-width: 1163px;
  margin-top: 2%;
}
.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.logo {
  color: white;
  font-size: 24px;
  font-family: "Mplus1p-Black";
  letter-spacing: 2px;
}
.navbar__menu {
  display: flex;
  list-style: none;
}
.navbar__menu ul {
  display: flex;
  list-style: none;
}
.navbar__menu li {
  padding-left: 3rem;
}
.navbar__menu li a {
  color: grey;
  text-decoration: none;
  font-family: "Mplus1p-ExtraBold";
  font-size: 15px;
  letter-spacing: 2px;
}
#active {
  color: white;
  text-decoration: underline;
}
.navbar__number {
  display: flex;
  align-items: flex-end;
}
#number {
  color: white;
  font-family: "Mplus1p-ExtraBold";
  font-size: 0.8rem;
  padding-left: 1rem;
  letter-spacing: 2px;
}
.Headmain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline {
  margin-top: 10%;
  height: 340px;
}
.headline h1 {
  color: white;
  font-size: calc( 49px + 50 * (100vw / 1920));
  font-weight: 900;
  line-height: calc(118 / 99 * 100%);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}
#title {
  letter-spacing: 4px;
    font-weight: 700;
    color: white;
    line-height: calc(29 / 14.4 * 100%);
    margin-bottom: 30%;
}
#redtext {
  color: rgba(246, 16, 103, 1);
  
  
}
.scroll {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 12.8px;
  font-weight: 800;
  padding: 5px;
  letter-spacing: 7px;
  transform: rotate(90deg);
  padding-bottom: 28%;
}
.scrollarrow{
  transform: translateX(100%);
}
.arrowsvg {
  padding-top: 54 px;
}
.subheader {
  width: 50%;
  height: 105px;
  border: 1px solid grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1%;
}
.subheader img {
  margin-right: 5%;
}
/* #scroll{
  color: white; 
  font-family: 'Mplus1p-Regular';
  font-size: 0.8rem;
}
.scroll{
 transform: rotate(90deg);
  
}
.headline__wrapper{
  display: flex;
  margin-top: 10%;
  justify-content: space-between;
} */
.containerm {
  width: 100%;
  margin: 0 auto;
  max-width: 1154px;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
}
.service_h1 {
  color: #f61067;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 12.6px;
  line-height: calc(26.2 / 12.6 * 100%);
  font-weight: 800;
}
.containerm_textinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.containerm_textinfo_h1 {
  font-family: "Mplus1p-Bold";
  font-size: 25px;
  color: rgba(246, 16, 103, 1);
}
.containerm_textinfo_h2 {
  font-family: "Mplus 1p-Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;

  /* TextColors/Headers */

  color: #30233d;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.containerm_textinfo_p1 {
  font-family: "Mplus 1p-Medium";
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 800;
}
.containerm_textinfo_button {
  background-color: rgba(246, 16, 103, 1);
  color: white;
  border: none;
  padding: 15px 45px;
  border-radius: 30px;
  letter-spacing: 3px;
  margin-top: 5%;
  width: 40%;

  /* Colors/White */

  color: #fcfcfc;
}
.container__blockimages {
  display: flex;
  justify-content: flex-end;
}
.container__blockimages img {
  max-width: 629.21px;
  max-height: 714px;
}
.container__services {
  background-color: #150433;
  width: 100%;
}
.container__services__main {
  display: flex;
  margin: 0 auto;
  max-width: 1154px;
  padding-top: 5%;
  flex-direction: column;
  color: white;
  padding-bottom: 20%;
}
.container__services__description {
  height: 250px;
  width: 49%;
  text-align: center;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services__description{
  line-height: calc(30 / 18 * 100%);
  font-weight: 800;
  color: white;
  font-size: calc( 14px + 4 * (100vw / 1196));
}
.container__services__description h3 {
  text-align: center;
  padding: 19px 0;
  line-height: calc(66.83 / 45 * 100%);
  font-weight: 500;
  color: white;
  font-size: calc( 41px + 4 * (100vw / 1920));
}
.container__services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 30%;
  padding-top: 5%;
}
.card h6 {
  color: #00f0b5;
  font-family: "Mplus 1p-Bold";
  font-size: 1rem;
  padding-top: 3%;
  padding-bottom: 7%;
}
.card p {
  color: white;
  font-family: "Mplus 1p";
  font-size: 0.9rem;
}
#red {
  color: rgba(246, 16, 103, 1);
}
#yellow {
  color: #f67110;
}
.service_button {
  background-color: rgba(246, 16, 103, 1);
  color: white;
  border: none;
  padding: 15px 45px;
  border-radius: 30px;
  letter-spacing: 3px;
  margin-top: 5%;
  align-self: center;
}
.main__container {
  width: 100%;
  margin: 0 auto;
}
.text {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.intro {
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  max-width: 1154px;
}
#intro {
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 12.6px;
  line-height: calc(26.2 / 12.6 * 100%);
  font-weight: 800;
  color: rgba(246, 16, 103, 1);
}
.text h3 {
  font-family: "Mplus1p-Bold";
  font-size: 45px;
  line-height: calc(66.83 / 45 * 100%);
  font-weight: 500;
  color: #30233D;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}
#p1 {
  font-family: "Mplus1p-Medium";
  font-size: 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 800;
}
#p2 {
  font-family: "Mplus1p-Medium";
  font-size: 1rem;
  color: #776c82;
}
.woman_button {
  background-color: rgba(246, 16, 103, 1);
  color: white;
  border: none;
  padding: 15px 45px;
  border-radius: 30px;
  letter-spacing: 3px;
  margin-top: 5%;
  width: 50%;
}
.newsletter {
  height: 440px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
}
.newsletter__box {
  height: 219px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter__box h3 {
  text-align: center;
  font-weight: 500;
  font-size: calc( 19px + 23 * (100vw / 1920));
  line-height: calc(67 / 45 * 100%);
  color: #30233D;
  font-family: 'Mplus 1p Medium';
}
.newsletter__box h6 {
  font-family: "Mplus1p-Thin";
  font-size: 1rem;
  color: rgba(119, 108, 130, 1);
}
.newsletter__box input[type="email"] {
  padding: 5px;
}
.newsletter__box input[type="submit"] {
  border: 1px solid rgba(119, 108, 130, 1);
  padding: 5px;
  background-color: white;
  color: rgba(246, 16, 103, 1);
}
footer {
  background-color: #150433;
  width: 100%;
  height: 200px;
}
.footer__container {
  width: 100%;
  margin: 0 auto;
  max-width: 1163px;
}
.footer__blocks {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}
.logo__block p {
  color:white;
  width: 166px;
  font-size: 16.2px;
  line-height: calc(43 / 24 * 100%);
  padding-top:20%;
}
.menu__block p {
  font-family: "Mplus1p-Bold";
  line-height: calc(26 / 13 * 100%);
  letter-spacing: 6px;
  font-weight: 800;
  font-size: 12.6px;
  border-bottom: 1px solid #f61067;
  margin-bottom: 27px;
  color: white;
}
.menu__block a {
  font-size: 12.6px;
  font-weight: 700;
  line-height: calc(28 / 13 * 100%);
  color: #FCFCFC;
  letter-spacing: 1px;
}
.services__block p {
  font-family: "Mplus1p-Bold";
  line-height: calc(26 / 13 * 100%);
  letter-spacing: 6px;
  font-weight: 800;
  font-size: 12.6px;
  border-bottom: 1px solid #f61067;
  margin-bottom: 27px;
  color: white;
}
.services__block a {
  font-size: 12.6px;
  font-weight: 700;
  line-height: calc(28 / 13 * 100%);
  color: #FCFCFC;
  letter-spacing: 1px;
}

.contact__block p {
  font-family: "Mplus1p-Bold";
  line-height: calc(26 / 13 * 100%);
  letter-spacing: 6px;
  font-weight: 800;
  font-size: 12.6px;
  border-bottom: 1px solid #f61067;
  margin-bottom: 27px;
  color: white;
}
.follow__block{
  width:30%
  
}
.follow__block img{
  margin-right: 12%;
}
.follow__block p {
  font-family: "Mplus1p-Bold";
  line-height: calc(26 / 13 * 100%);
  letter-spacing: 6px;
  font-weight: 800;
  font-size: 12.6px;
  border-bottom: 1px solid #f61067;
  margin-bottom: 27px;
  color: white;
  width:40%
}
.menu__block {
  display: flex;
  flex-direction: column;
}
.services__block {
  display: flex;
  flex-direction: column;
}
#contact {
  font-size: 12.6px;
  font-weight: 700;
  line-height: calc(28 / 13 * 100%);
  color: #FCFCFC;
  letter-spacing: 1px;
}
.ebuchie_img {
  width: 100%;
  height: 800px;
  background-color: rgba(252, 252, 252, 1);
}
.faces {
  display: flex;
  justify-content: center;
}
#n-face {
  transform: translateY(-15%);
  
}
.quotes-svg {
  display: flex;
  justify-content: center;
  margin-top: -3%;
}
.company-description {
  width: 60%;
  text-align: center;
}
.company-description p {
  color: rgba(48, 35, 61, 1);
  font-family: "Mplus1p-Regular";
  font-size: 2rem;
  font-style: italic;
}
.text__menu {
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
}
.kerry {
  text-align: center;
  margin-top: 5%;
}
#kerry {
  color: rgba(246, 16, 103, 1);
  font-family: "Mplus1p-Bold";
  font-size: 1.2rem;
}
#some {
  font-family: "Mplus1p-Medium";
  font-size: 1.2rem;
  color: rgba(48, 35, 61, 1);
}
#card-anim-1:hover img {
  animation: circleanim 2s linear 0s infinite forwards;
  transition: 1s;
  background-color: #00f0b5;
  border-radius: 50%;
}
#card-anim-2:hover img {
  animation: circleanim 2s linear 0s infinite forwards;
  transition: 1s;
  background-color: rgba(246, 16, 103, 1);
  border-radius: 50%;
}
#card-anim-3:hover img {
  animation: circleanim 2s linear 0s infinite forwards;
  transition: 1s;
  background-color: #f67110;
  border-radius: 50%;
}
@keyframes circleanim {
  0% {
    border-radius: 50%;
    rotate: (0deg);
  }
  25% {
    transform: translateY(-35%);
  }
  50% {
    transform: translateY(-35%) rotate(180deg);
  }
  75% {
    transform: translateY(-15%) rotate(369deg);
  }
  100% {
    transform: translateY(0%) rotate(360deg);
  }
}
.pizdec_quote {
  max-width: 634px;
  max-height: 774px;
  position: relative;
  width: 100%;
  position: relative;
  display: grid;
}
.quote__img {
  width: 64%;
  height: 94%;
  z-index: 1;
  margin-top: 3%;
}
.quote__img img {
  width: 100%;
  height: 100%;
}
.block1 {
  width: 64%;
  height: 65%;
  background-color: rgba(48, 18, 78, 1);
  position: absolute;
  left: 250px;
  z-index: 0;
}
.block2 {
  width: 53%;
  height: 64%;
  background-color: rgba(58, 4, 117, 1);
  position: absolute;
  z-index: 2;
  left: 32%;
  bottom: 6%;
  display: flex;
  justify-content: flex-end;
}
.block2__text {
  width: 81%;
}
.block2__text p {
  color: white;
  font-size: 1.25rem;
  font-family: "Mplus1p-Medium";
  font-style: italic;
  letter-spacing: 3px;
}
.navbar__menu a.active {
  border-bottom: 1px solid #f61067;
  color: white;
  transition: 500ms;
}
.main__picture {
  max-width: 1164px;
  margin: 0 auto;
}
.page-content__newsletter__form {
  display: flex;
  padding: 63px 0 0 0;
  margin: 0 46px;
  align-items: center;
  border-bottom: 3px solid #F4F4ED;
}

.page-content__email {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: calc(37 / 18 * 100%);
  color: #9B94A3;
}

.page-content__button {
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 6px;
  line-height: calc(26 / 12.2 * 100%);
  color: #F61067;
  width: 226px;
  height: 54px;
 align-items: center;
  background: linear-gradient(0deg, rgba(242, 242, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

.page-content__button p {
  padding: 0 20px 0 28px;
}

.page-content__button__arrow {

  display: flex;
  width: 27px;
  height: 27px;
  margin-right: auto;
  align-items: center;
  border: 1px solid #f6106885;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

.page-content__button__arrow svg {
  fill: #F61067;
  margin: 0 auto;
}

@media only screen and (max-width:1024px){
body{
  display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "Mplus 1p";
    flex-direction: column;
    max-width:1024px;
}
.wrapper{
overflow: hidden;
  max-width: 1024px;
}
footer{
  height: 30%;
}
.follow__block p {
  width:50%
}
.scroll{
  padding-bottom: 32%;

}
.pizdec_quote{
  width:60%;
}
.container__services__cards{
  justify-content: center;
  padding: 59px 0 87px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 315px);
  gap: 74px 100px;
  text-align: center;
}
.card{width:100%}
}
@media only screen and (max-width:930px){
  .headline h1{
    width:120%;
  }
  .scroll{
    padding-bottom: 35%;
  }
  .follow__block p {
    width:60%
  }
}
@media only screen and (max-width:540px){
  .footer__blocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
  }
  .follow__block p {
    width: 100%;
    width: 100%;
    border-bottom: 0;
}
.follow__block {
  width: 100%;
}
}
@media only screen and (max-width:414px){
  .navbar__menu{
    text-align: center;
  }
  .navbar__menu ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .navbar__number{
    display: none;
  }
  .scroll{
    display:none;
  }
  .headline h1{
    width: 100%;
  }
  .pizdec_quote{
    display:none;
  }
  .text{
    text-align: center;
    width: 100%;
    padding:150px 0;
  }
  .woman_button{
    margin: 0 auto;
    margin-top: 5%;
  }
  .container__services__main{
    padding-bottom:40%;
  }
  .ebuchie_img{
    height: 100%;
    padding-bottom: 40%;
  }
  #n-face{
    width: 80%;
    height: 80%;
  }
  .quotes-svg{
    margin-top:-15%;
  }
  .company-description p{
    font-size: calc( 13px + 23 * (100vw / 1920));
  }
  .kerry{
    font-size: calc( 14px + 4 * (100vw / 1196));
  }
  .newsletter__box{
    padding-bottom: 30%;
  }
  .newsletter__box h6{
    padding-top: 23px;
    text-align: center;
    font-weight: 500;
    font-size: calc( 14px + 4 * (100vw / 1920));
    line-height: calc(27 / 18 * 100%);
    color: #776C82;
  }
  .page-content__newsletter__form{
    flex-direction: column;
    border-bottom: 0;
  }
  .newsletter__box input[type="email"]{
    text-align: center;
  }
  .quotes-svg{
    display: none;
  }
  .container__services__description{
    margin-bottom: 20%;
  }

}
@media only screen and (max-width:280px){
  .container__services__description{
    margin-bottom: 60%;
  }
}